<!DOCTYPE html>
<html>
<head>
  <title>Articards</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</head>
<body>
  <div class="nav-container">
    <div class="navbar">
      <h1>
        <%= link_to image_tag("articards-logo.png", :class => "logo", :alt => "articards"), root_path %>
      </h1>
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/play">PLAY</a></li>
          <li><a href="/decks">DECKS</a></li>
          <li><a href="/cards">CARDS</a></li>
          <%- if current_user -%>
            <li class="login-button"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- else -%>
            <li class="login-button sign-up"><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li class="login-button sign-in"><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
        </ul>
      </nav>
    </div>
  </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
  <footer>
    <p class="footer-text"> Made with <ion-icon class="react-logo" name="logo-react"></ion-icon> | Tony Nguyen 2021</p>
    <a href="https://www.linkedin.com/in/tonynguyen3645/"><ion-icon class="footer-icon" name="logo-linkedin"></ion-icon></a>
    <a href="https://github.com/tnguyen3645"><ion-icon class="footer-icon" name="logo-github"></ion-icon></a>
    <p class="footer-email"><a class="footer-email" href="mailto:tonynguyen3645@gmail.com">tonynguyen3645@gmail.com</a></p>
  </footer>
</body>
</html>
